p{
    font-style: italic;
}

#countdownSection{
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-top: 203px;
}
#countdown{
    font-size: 4em;
    font-style: normal;
    position: absolute;
    margin-left: 45px;
}

#countdownSection img{
    width: 8%;
}