#backgroundCamera{
    background-image: url("../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Masque-webcam.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}