<app-all-page-movistar></app-all-page-movistar>
<h1>Elija un documento</h1>
<h2>Seleccione el país o regióde emisión:</h2>
<div id="paisList">
    <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-Espana.png" alt="" id="pais">
</div>
<div id="divDocumento">
    <h2>Seleccione el tipo de documento que desea cargar:</h2>
    <div id="documentoList">
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-pasaporte.png" alt="" class="documento">
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-permiso-conducir.png" alt="" class="documento">
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-documento-ID.png" alt="" class="documento">
    </div>
</div>


