<app-all-page-movistar></app-all-page-movistar>
<section>
    <h1>Ya casi hemos terminado</h1>
    <main >
        <section id="left">
            <p style="margin-top: 0;">
                Su SIM será entregada immediamente después del pago. <br>
                El pago inicial de <span style="color:#8DC63F;">10€</span> correspondande al saldo inicial de
                10~incluido tu
                nueva SIM.
            </p>
            <p>
                Aquí puedes consolutar un <a style="color: #00A0DC;"> resumen de las condiciones</a>, que son
                vinculantes
                para Movistar si realizas la compra en este momento. Los detalles serán enviados a su correo electrónico
                después de confirmar la compra.
            </p>
            <div id="condition">
                <input type="checkbox" name="condiciones" id="condiciones"><label for="condiciones">He leído y acepto las
                <span style="color:#00A0DC">condiviones del producto</span>.</label>
            </div>
            
        </section>
        <section id="right">
            <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Resumen-compra-slide3&15.png" alt="">
        </section>
    </main>
    <section id="continuarSection" >
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-continuar.png" alt="" id="continuarBtn">
    </section>
</section>