main{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
    margin-top: 5%;
}

h1{
    margin-top: 7% !important;
}

#left{
    width: 45%;
}

#left p {
    text-align: justify;
    font-size: 2em;
}

#continuarSection{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#continuarSection img{
    width: 60%;
    margin-top: 150px;
    
}

#right{
    width: 50%;
}

#right img {
    width: 65%;
    margin-top: 20px;
    margin-left: 50px;
}

label {
    font-family: GothamLight;
    font-size: 1.5em;
}

input{
    width: 25px;
    height: 25px;

}

#condition{
    display: flex;
    align-items: center;
}