<app-all-page-movistar></app-all-page-movistar>
<h1>¡Bienvenido a Movistar!</h1>
<main>
    <h2>Puedes encontrar tu <span *ngIf="!eSIM">tarjeta SIM en el recuadro inferior.</span> <span *ngIf="eSIM">billete y
            escanee el código QR para obtener su eSIM.</span></h2>
    
    <p id="firstP">Si tiene algún problema con su línea, pógase en contacto con el 1004 o con el punto de venta más cercano.</p>
    <p id="secondP">Te hemos enviado los detalles de tu compra a tu dirección de correo electrónico</p>
    <section id="continuar" routerLink="/pagina-principal">
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-volver-pagina-inicio.png" alt="">
    </section>
</main>