<div id="divBtnLanguage">
    <div routerLink="/spain">
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/spain.png" alt="">
    </div>
    <div routerLink="england">
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/england.png" alt="">
    </div>
</div>
<div class="main">
    <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Logo-movistar.png" alt="" id="movistarTitle">
    <h1>¿Buscas una SIM prepago?</h1>
    <h2>Selecciona la tarifa que mejor se adapte a ti y consigue tu SIM Movistar al momento</h2>
    <div routerLink="/prepaid-tariffs" id="divBtnInteresa">
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-me-interesa.png" alt="" id="btnInteresa">
    </div>
</div>