#back{
    position: fixed;
    width: 119px;
    height: 120px;
    bottom: 28px;
    left: 41px;
    border-top-right-radius: 100%;
}

#movistarAllPageMain{
    position: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Background-ES.png');
    z-index: -2;
    top: 0;
    left: 0;
}