<app-all-page-movistar></app-all-page-movistar>
<main>
    <h1 class="goodDocumentoCapture">Verificación de identidad completada</h1>
    <h1 class="badDocumentoCapture">Verificación de identidad fallida</h1>
    <h1 class="goodFaceCapture">Conformidad fotográfica</h1>
    <h1 class="badFaceCapture">Toma de fotofrafías no conforme</h1>
    <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Check.png" alt="" class="goodCapture">
    
    <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/ko.png" alt=""class="badCapture">
    <section>
    
    <p class="goodDocumentoCapture">Te guiramos en los siguientes pasos</p>
    <p class="goodDocumentoCapture">No cierres esta página.</p>
    

    <p class="badDocumentoCapture">Por favor, repita el procedimiento</p>
    <p class="badDocumentoCapture">No cierres esta página.</p>
    
    
    <p class="goodFaceCapture">No cierres esta página</p>
    
    <p class="badFaceCapture">Por favor, repita el procedimiento.</p>
    <p class="badFaceCapture">No cierres esta página.</p>-->
        
    </section>

</main>
