<app-all-page-movistar></app-all-page-movistar>

<h1>Quiero contractar</h1>
<h3>Prepago Total</h3>
<div id="main">
    <div id="left">
        <h2>Próximos pasos</h2>

        <p>Para cumplir con la lesgilación vigente, es necesario verificar su identidad. Para ello necesitará:</p>
        <ul>
            <li>Su documento de identidad original con fotografía</li>
            <li>Hacerse un selfie</li>
            <li>Rellenar tus datos personales</li>
        </ul>
        <p>Inmediatamente obtendrás tu tarheta SIM o eSIM para empezar a hablar navegar con Movistar</p>
    </div>
    <div id="right">
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Resumen-compra-slide3&15.png" alt="">
    </div>
</div>
<p id="Bienvenidos">¡Bienvenidos a Movistar!</p>
<div routerLink="" >
    <img id="loquieroBtn" src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-Lo-Quiero.png" alt="">
</div>