<app-all-page-movistar></app-all-page-movistar>

<h1>Prepago Total</h1>
<h3 id="Subtitle">140 GB a velocidad 5G+</h3>
<div id="info">
    <div id='left'>
        <img id="photo" src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/photo.png" alt="">
    </div>
    <div id="right">
        <div id="promotion">
            <img id="imgPromotion" src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Promotion.png" alt="">
            
            <img id="loQuiero" src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-Lo-Quiero.png" alt="">
            
        </div>
        <div id="informations">
            <h3>Detalle de la tarifa</h3>
            <div class="informationList">
                <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Picto-internet.png" alt="">
                <div>
                    <p class="titleDetails">
                        Internet móvil y 5G+
                    </p>
                    <p class="description">35GB + 105 GB de datos a velocidad ultrarápida y cobertura 5G+</p>
                </div>
            </div>
            <div class="informationList">
                <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Picto-llamadas.png" alt="">
                <div>
                    <p class="titleDetails">
                        Llamadas
                    </p>
                    <p class="description">Llamadas nacionales ilimitadas a fijos y móviles</p>
                </div>
            </div>
            <div class="informationList">
                <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Picto-roaming.png" alt="">
                <div>
                    <p class="titleDetails">
                        Roaming y llamadas internacionales
                    </p>
                    <p class="description">Llama y navega hasta 19 GB como si estuvieras en España en la UE. <br> Consulta las tarifas Roaming y
                        llamadas al extranjero
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>