<app-all-page-movistar></app-all-page-movistar>
<h1>Verifica tu identitad</h1>
<section>
    <p>Tu seguridad, aún mejor. <br> Para empezar, completa estos sencillos pasos</p>
    <div id="procedureWay">
        <div >
            <img id="Picto-verifica-ID" src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Picto-verifica-ID.png" alt="">
        </div>
        <div id="textPart">
            <p class="bold">Hazte un selfi</p>
            <p><span  class="bold">Haz una foto de tu documento </span><br> DNI, pasaporte o NIE con foto</p>
        </div>
    </div>
    
    <div id="Bouton-continuar">
        <img src="../../assets/MOVISTAR-EK3000-2024-MOVISTAR/Bouton-continuar.png" alt="">
    </div>
</section>